.button {
  font-weight: 600;
  font-size: 1.5rem;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.563rem;
  border: none;
  align-self: flex-end;
  margin-bottom: 2.37rem;
}

.button:hover {
  cursor: pointer;
}
