.container {
  width: min(90%, 127.5rem);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 90%;
  font-size: 3.625rem;
  line-height: 1.5;
  font-weight: 700;
  color: var(--blue);
  margin: 0 auto;
}
