.container {
  width: min(90%, 127.5rem);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 700;
  color: var(--deep-green);
  margin-bottom: 1.875rem;
}

.icon {
  width: 12.875rem;
  height: 15.313rem;
  color: var(--green);
}

.iconUpwards {
  transform: rotate(145deg);
}

.iconDownwards {
  transform: rotate(-35deg);
}

.wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cards {
  display: flex;
}

.card {
  width: 26.563rem;
  height: 20.313rem;
  padding: 1.375rem 1.5rem;
  border: dashed 3px var(--deep-green);
  margin-right: 2.188rem;
  display: grid;
  grid-template-rows: 3fr 4rem;
  grid-row-gap: 1.875rem;
}

.cardTitle {
  font-weight: 600;
  font-size: 1.43rem;
  line-height: 1.5;
  color: var(--deep-green);
  background-color: #fff;
  padding: 1.125rem;
  text-align: center;
  vertical-align: middle;
  flex-grow: 0;
  overflow: hidden;
}

.cardContents {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.revenue {
  background-image: url("../icons/revenues.png");
  background-size: contain;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.customers {
  background-image: url("../icons/customers.png");
  height: 95%;
  width: 95%;
  background-repeat: space;
  background-position: center center;
  background-size: contain;
}
